# -*- mode: gitignore; -*-

# Ignore python compiled files.
*.pyc

# Ignore the database itself, because it's very large and
# doeesn't need to be in git.
data.fs
data.fs.index
data.fs.lock
data.fs.tmp

# Other misc files.
.cache

